:root {
  --dark-blue-dark-mode-elements: hsl(209, 23%, 22%);
  --very-dark-blue-dark-mode-background: hsl(207, 26%, 17%);
  --very-dark-blue-light-mode-text: hsl(200, 15%, 8%);
  --dark-gray-light-mode-input: hsl(0, 0%, 52%);
  --very-light-gray-light-mode-background: hsl(0, 0%, 98%);
  --white-dark-mode-text-light-mode-elements: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  width: 100%;
  height: 100vh;
  background-color: var(--very-light-gray-light-mode-background);
}

header {
  height: 50px;
  background-color: var(--white-dark-mode-text-light-mode-elements);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.20);
}

.header-container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

h1{
  font-size: 1.5rem;
}

.container-dark {
  display: flex;
}

.image-dark {
  height: 15px;
}

.button-dark {
  background-color: var(--white-dark-mode-text-light-mode-elements);
  border: none;
  font-size: 0.75rem;
  margin-left: 5px;
}

.content-container{
padding-top: 2rem;
max-width: 1140px;
margin: 0 auto;
}

.actions-container{
  display: flex;
  justify-content: space-between;
}

.search-container{
  position: relative;
  background-color: var(--white-dark-mode-text-light-mode-elements);
  display: flex;
  align-items: center;
}

.image-search {
  height: 15px;
  z-index: 1;
  margin-left: 10px;
}

.search {
  background-color: var(--white-dark-mode-text-light-mode-elements);
  border: none;
  height: 35px;
  width: 300px;
  font-size: 0.75rem;
  padding-left: 35px;
  position: absolute;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.10);
}

.button-filter {
  background-color: var(--white-dark-mode-text-light-mode-elements);
  border: none;
  height: 35px;
  width: 120px;
  font-size: 0.75rem;
  color: var(--very-dark-blue-light-mode-text);
}

.countries-list{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding-top: 2rem;
}

.countries-list  > a {
 text-decoration: none;
 color: black;
}

.countries-list  > a:visited {
  color: black;
 }

.card-country{
  max-width: 180px;
  background-color: var(--white-dark-mode-text-light-mode-elements);
  border-radius: 5px;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.10);
}

.flag-image {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  max-height: 120px;
  min-width: 180px;
}

.text-countries{
  padding: 10px;
}

.description-countries{
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.description-countries > span {
  font-size: .75rem;
}

.description-countries > span > span {
  font-weight: bold;
}

/* country detail page */

.container-detail-light{
  padding-top: 2rem;
  width: 100%;
  display: flex;
}

.container-flag{
  width: calc(45% - 30px);
}

.container-flag > img {
  width: 90%;
}

.container-button-back{
 display: flex;
 justify-content: center;
 align-items: center;
 box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.20);
 height: 25px;
 width: 80px;
 background-color: var(--white-dark-mode-text-light-mode-elements);
 border-radius: 5px;
 margin-bottom: 40px;
}

.image-arrow{
  height: 15px;
}

.button-back{
  background-color: var(--white-dark-mode-text-light-mode-elements);
  color: var(--dark-gray-light-mode-input);
  border: none;
  font-size: .75rem;
  margin-left: 5px;
  text-decoration: none;
}

.country-all-detail-container {
  width: calc(55% - 30px);
  padding: 0 30px 0 30px;
}

.country-all-detail-container > h2{
  margin-top: 80px;
}

.country-details-container{
  display: flex;
  font-size: .75rem;
  margin-top: 10px;
  justify-content: space-between;
}

.country-details-container > div {
  width: 40%;
}

.country-details-container p {
  margin-bottom: 5px;
  font-size: .75rem;
}

.country-details-container  p > span {
  font-weight: bold;
}

.borders-container{
  display: flex;
  gap: 6px;
  margin-top: 30px;
}

.borders-label{
  font-size: .75rem;
  font-weight: bold;
}

.borders{
  font-size: .75rem;
  width: 50px;
  height: 20px;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.20);
  text-align: center;
  padding-top: 2px;
}